<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola</title>
</head>
<body>
<div  id='map' style='height:651px;'  />  
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGtzRtqZhjr_TzdIqnoKlQIgNQrcjub6s"></script>  
<script>  
var map  = new google.maps.Map(document.getElementById('map'),  {  
    center: new google.maps.LatLng(21.15, -100.93),  
    mapTypeId:  google.maps.MapTypeId.ROADMAP,  
    zoom:5  
});  
  
var t =new  Date().getTime();  
var  waqiMapOverlay  =  new  google.maps.ImageMapType({  
getTileUrl:  function(coord,  zoom)  {  
    return  'https://tiles.waqi.info/tiles/usepa-aqi/'  +  zoom  +  "/"  +  coord.x  +  "/"  +  coord.y  +  ".png?token=332cd111-36ef-4885-b8b0-55227e0f70b7";  
    },  
    name:"Air Quality",  


});  
  
map.overlayMapTypes.insertAt(0,waqiMapOverlay);  
</script>
</body>
</html>